*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.balken{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#balken-oben-grün{
    background-color: #185441;
    height: 70px;
}
#balken-unten-grün{
    background-color: #185441;
    height: 150px;
}
#balken-oben-rot{
    background-color: #B5242B;
    height: 21px;
}
.logo{
    margin-left: 100px;
    margin-top: 25px;
}
.button-oben{
    margin-left: 10px;
    margin-right: 100px;
    color: white;
    background-color: #185441;
    width: 140px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    transition: background-color, color  0.5s;
    cursor: pointer;
}
#startseite:hover{
    background-color: #B5242B;
    color: black;
}
#impressum:hover{
    background-color: #B5242B;
    color: black;
}
#datenschutz:hover{
    background-color: #B5242B;
    color: black;
}
#kontakt:hover{
    background-color: #B5242B;
    color: black;
}
#KFZ-Center:hover{
    background-color: #000ADB;
    color: rgb(255, 255, 255);
}
.bild-oben{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.kreise-text{
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: -78px;;
}
.kreis{
    height: 150px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);   
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 20px;
}
.footer-text{
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.inhalt-mitte{
    margin-left:20%;
    margin-right: 20%;
    display: flex;
    flex-wrap: wrap;
}
.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    margin-top: 20px;
}
.gallery{
    width: 190px;
    height: 190px;
    border: black 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery img{
    width: 100%;
    height: 85%;
    object-fit: cover;
}
.dienstleistungen-galerie img{
    height: 150px;
    border: black 1px solid;
    border-radius: 20px;   
}
.dienstleistungen-galerie{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-groessen{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
@media screen and (max-width: 1500px) {
    .button-oben{
        margin-left: 10px;
        margin-right: 100px;
        color: white;
        background-color: #185441;
        width: 100px;
        height: 30px;
        font-size: 15px;
        font-weight: bold;
        border-radius: 20px;
        border: none;
        transition: background-color, color 0.5s;
        cursor: pointer;
    }
    
}
@media screen and (max-width: 600px) {
   
    .inhalt-mitte{
        margin-left: 0%;
        margin-right: 0%;
    }
    .kreise-text{
        margin-left: 0px;
        margin-right: 0px;
    }
    .logo{
        margin-left: 5px;
    }
    .button-oben{
        margin-left: 10px;
        margin-right: 50px;
        color: white;
        background-color: #185441;
        width: 100px;
        height: 30px;
        font-size: 15px;
        font-weight: bold;
        border-radius: 20px;
        border: none;
        transition: background-color, color  0.5s;
        cursor: pointer;
    }
}